*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(156, 161, 167);
}
body{
    border: 5px solid ;
}
header{
    text-align: center;
    background-color: rgb(212, 211, 209);
}
.line{
width: 700px;
margin: auto;
display: block;
height: 100px;
}

#title{
    font-family: 'Lobster', cursive;
    }
#subtitle{
    font-family: 'Zilla Slab', serif;
    }
#img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.img{
    width: 310px;
    height: 450px;
}
#tribute-info, .head{
    font-family: 'Zilla Slab', serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 40px;
}

.time-line{
    font-family: 'Source Sans Pro', sans-serif;
    
    font-size: 20px ;
    font-weight: 900;
padding: 10px;
width: 600px;
margin: auto;
}
.head{
    text-align: center;
}
.quote{
    font-size: 20px;
    font-weight: lighter;
    margin: 50px;
}
.quote{
    text-decoration: italic;

}